name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  unit_tests:
    name: Unit Tests
    # Homemade support for [ci skip] no longer needed
    # https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/
    # if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
          - "jruby"
          - "truffleruby"
          - "truffleruby+graalvm"
        allow_failures:
          - false
        include:
          - ruby: ruby-head
            allow_failures: true
          - ruby: jruby-head
            allow_failures: true
    env:
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
    runs-on: ubuntu-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake || $ALLOW_FAILURES
